/.idea

/target
/node_modules
/project/project
/project/target

/ui/node_modules

/public/scripts
/public/stylesheets
/public/fonts
/public/flags
/public/images

/logs

/package-lock.json

/app/views

.DS_Store
/.hg
/.hgignore
/ui/scripts
/ui/stylesheets
/ui/lib

/upload.sh
/TODO.md
